.container{
    margin-left:25%;
    margin-right: 25%;
    border-radius: 10px;
    border-style: groove;
    background-color: RGB(237, 236, 230);
}
.top{
    height: 30%;
}
.container1{
    background-color: rgb(56, 55, 55);
}
.left{
    flex: 30%;
    padding-left: 5%;
    padding-top: 2%;
}
.stars{
    padding-left: 5px;
    padding-right: 1px;
}
.skills ul{
    padding-left: 0%;
    padding-right: 3%;
}
.skills li{
    display:flex;
    justify-content: space-between;
}

.heading{
    border-bottom:  4px solid   rgb(233, 131, 6);
    display: inline-block; 
}
.heading strong{
    font-size: large;
}
.interest ul{
    padding-left: 0%;
    list-style-type: disc;
}
#name{
    display:flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
}
#education dt{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;
}
#education dd{
    font-style: italic;
}
.top li a{
    color: black;
}
.top li{
    display:inline;
    padding-right: 10px;
}
.top ul{
    padding-left: 10%;
}
p.reference{
    padding-left: 2%;
    padding-bottom: 3%;
    padding-right: 2%;
}
.right{
    flex:70%;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 7%;
}
.content{
   display: flex;
}
.right  a{
    color: black;
}
.projects dl{
    justify-content: center;
}
